.app-container {
  text-align: center;
  margin-top: 200px;
}

.counter-button {
  background-color: #513269;
  color: #fff;
  border-radius: 14px;
  width: 300px;
  padding: 40px 60px;
  font-size: 4em;
  cursor: pointer;
}